*.img
*-bin
*.swp
test.log
wlutil/fedora/Fedora-Developer-Rawhide-20181015.n.0-sda.raw
wlutil/fedora/Fedora-Developer-Rawhide-20181015.n.0-sda.raw.xz
wlutil/fedora/rootfs.cpio
*__pycache__
.doit.db*
wlutil/initramfsRoot.cpio
