# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
executors:
  main-env:
    docker:
      - image: firesim/firesim-ci:wip
        user: "centos"
    environment:
        JVM_MEMORY: 2200m # Customize the JVM maximum heap limit
        LANG: en_US.UTF-8 # required by sbt when it sees boost directories

commands:
  dockerprep:
    description: "Setup the docker image"
    steps:
      - checkout
      - run:
          command: |
            sudo .circleci/dockerprep.sh

  machinelaunchscript:
    description: "Run firesim's machine launch script"
    steps:
      - run:
          command: |
            cd scripts && /usr/bin/bash ./machine-launch-script.sh

  checkoutascentos:
    description: "Checkout repo as centos user"
    steps:
      - run:
          command: |
            su centos -c 'cd ~/ && git config --global url."https://github.com/".insteadOf git@github.com:'
            su centos -c "cd ~/ && git clone $CIRCLE_REPOSITORY_URL && cd $CIRCLE_PROJECT_REPONAME && git checkout $CIRCLE_SHA1"

  buildsetup:
    description: "Run firesim's build-setup.sh"
    steps:
      - run:
          command: |
            su centos -c "cd ~/$CIRCLE_PROJECT_REPONAME && ./build-setup.sh fast"

  firesimtest-manual-midasexamples:
    description: "Run a test"
    steps:
      - run:
          command: |
            su centos -c "cd ~/$CIRCLE_PROJECT_REPONAME && source env.sh && cd sim && make -C /home/centos/$CIRCLE_PROJECT_REPONAME/sim run-verilator SAMPLE=/home/centos/$CIRCLE_PROJECT_REPONAME/sim/output/f1/Stack-NoConfig-HostDebugFeatures_DefaultF1Config/Stack.verilator.sample LOGFILE= WAVEFORM= ARGS=+tracelen=8 TARGET_PROJECT=midasexamples DESIGN=Stack TARGET_CONFIG=NoConfig PLATFORM_CONFIG=HostDebugFeatures_DefaultF1Config PLATFORM=f1"

  firesimtest-midasexamples:
    description: "Run a test"
    steps:
      - run:
          command: |
            su centos -c "cd ~/$CIRCLE_PROJECT_REPONAME && source env.sh && cd sim && make TARGET_PROJECT=midasexamples test"

  firesimtest-fased:
    description: "Run a test"
    steps:
      - run:
          command: |
            su centos -c "cd ~/$CIRCLE_PROJECT_REPONAME && source env.sh && cd sim && make TARGET_PROJECT=fasedtests test"


jobs:
  runall:
    executor: main-env
    steps:
      - dockerprep
      - machinelaunchscript
      - checkoutascentos
      - buildsetup
      - firesimtest-manual-midasexamples
        #- firesimtest-midasexamples
        #- firesimtest-fased


workflows:
   version: 2

   firesimCIall:
     jobs:
       - runall
