[Unit]
Requires=multi-user.target
After=multi-user.target
Before=firesim.target
Wants=firesim.target

[Service]
ExecStart=/firesim.sh
StandardOutput=journal+console
