*.pyc
switchbuild/switch*.*.*.*
switchbuild/switch
results-build/*
results-workload/*
backup_config_build.ini
backup_config_runtime.ini
backup_config_build_recipes.ini
backup_config_hwdb.ini
generated-topology-diagrams/
logs/*.log
built-hwdb-entries/
