*.pyc
switchbuild/switch*.*.*.*
switchbuild/switch
results-build/*
results-workload/*
config_runtime.yaml
config_runfarm.yaml
config_build.yaml
config_build_recipes.yaml
config_build_hosts.yaml
config_hwdb.yaml
backup_config_build.yaml
backup_config_runtime.yaml
backup_config_runfarm.yaml
backup_config_build_recipes.yaml
backup_config_build_hosts.yaml
backup_config_hwdb.yaml
generated-topology-diagrams/
logs/*.log
built-hwdb-entries/
