*.pyc
switchbuild/switch*.*.*.*
switchbuild/switch
results-build/*
results-workload/*
config_*.yaml
backup_config_*.yaml
generated-topology-diagrams/
logs/*.log
built-hwdb-entries/
/firesim.py
vm-pci-attach.xml
vm-cloud-init-configs/firesim_vm_ed25519
vm-cloud-init-configs/firesim_vm_ed25519.pub
vm-cloud-init-configs/user-data