# Sphinx 8.2 removes directive APIs used by FireSim's docstrfmt 1.9.0.
sphinx>=8.1,<8.2
pygments
sphinx-autobuild
sphinx-rtd-theme
docutils
requests
sphinx-tabs
sphinx-copybutton
Sphinx-Substitution-Extensions
setuptools<82.0.0
docstrfmt==1.9.0
