name: firesim-cull-instances

on:
  schedule:
    - cron: "0 0,12 * * *"

env:
  PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_A_PERSONAL_ACCESS_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  AWS-ACCESS-KEY-ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS-SECRET-ACCESS-KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS-DEFAULT-REGION: ${{ secrets.AWS_DEFAULT_REGION }}
  FIRESIM_PEM: ${{ secrets.FIRESIM_PEM }}

jobs:
  cull-old-ci-instances:
    name: cull-old-ci-instances
    runs-on: ubuntu-latest
    env:
      TERM: xterm-256-color
    steps:
      - uses: actions/checkout@v2
        with:
          ref: dev
      - uses: ./.github/actions/repo-setup-aws
      - run: .github/scripts/cull-old-ci-instances.py
